# Backends for all applications

backend rentalfixer_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    server app1 100.92.26.38:8100 check
    server app2 100.89.130.19:8100 check

backend rentalfixer_staging_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    server app1 100.92.26.38:8101 check
    server app2 100.89.130.19:8101 check

backend not_found_backend
    mode http
    http-request deny deny_status 404

backend dashboard_webhook_backend
    mode http
    option httpchk GET /api/health
    server dashboard 100.102.220.16:8080 check
