# HTTP frontend - redirects to HTTPS
frontend web_http
    bind :80
    mode http

    http-request redirect scheme https code 301 if { hdr(host) -i rentalfixer.app }

    http-request redirect scheme https code 301 if { hdr(host) -i staging.rentalfixer.app }

    http-request redirect scheme https code 301 if { hdr(host) -i jonathanloescher.com }

    http-request redirect scheme https code 301 if { hdr(host) -i staging.jonathanloescher.com }

