# HTTP frontend - redirects to HTTPS
frontend web_http
    bind :80
    mode http

    # Block WordPress vulnerability scanners
    http-request deny deny_status 403 if { path_beg /wp- }
    http-request deny deny_status 403 if { path_beg /wordpress }
    http-request deny deny_status 403 if { path_beg /xmlrpc.php }

    http-request redirect scheme https code 301 if { hdr(host) -i rentalfixer.app }

    http-request redirect scheme https code 301 if { hdr(host) -i staging.rentalfixer.app }

