[Unit]
Description=Redis Exporter
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/redis_exporter --web.listen-address=100.114.117.46:9121 -redis.addr redis://100.114.117.46:6379 -redis.password CcPUa3nvcxHtyNYjztbDyfCCuhgix78novmBDNGk
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
