# Backends for all applications

backend not_found_backend
    mode http
    http-request deny deny_status 404

backend dashboard_webhook_backend
    mode http
    option httpchk GET /api/health
    server dashboard 100.102.220.16:8080 check
