global
    log /dev/log local0
    log /dev/log local1 notice
    user haproxy
    group haproxy
    daemon
    maxconn 50000
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners

defaults
    log global
    option dontlognull
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    retries 3

# Stats page - http://router:8404/stats
frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST
    stats auth admin:jFNeZ2bhfrTjTK7aKApD

# Prometheus metrics - http://router:8405/metrics
frontend haproxy_metrics
    bind :8405
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    http-request return status 200 content-type text/plain string "OK" if { path /health }
    no log

frontend pg_rw
    bind 100.102.220.16:5000
    mode tcp
    default_backend pg_primary

backend pg_primary
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server re-node-01 100.126.103.51:5432 check port 8008
    server re-node-03 100.114.117.46:5432 check port 8008
    server re-node-04 100.115.75.119:5432 check port 8008

frontend pg_ro
    bind 100.102.220.16:5001
    mode tcp
    default_backend pg_replicas

backend pg_replicas
    mode tcp
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server re-node-03 100.114.117.46:5432 check port 8008
    server re-node-04 100.115.75.119:5432 check port 8008
    server re-node-01 100.126.103.51:5432 check port 8008 backup

# Redis write (master) - port 6379
frontend redis_write
    bind 100.102.220.16:6379
    mode tcp
    default_backend redis_master

backend redis_master
    mode tcp
    option tcp-check
    tcp-check connect
    tcp-check send AUTH\ CcPUa3nvcxHtyNYjztbDyfCCuhgix78novmBDNGk\r\n
    tcp-check expect string +OK
    tcp-check send INFO\ replication\r\n
    tcp-check expect string role:master
    tcp-check send QUIT\r\n
    default-server inter 3s fall 3 rise 2
    server re-node-01 100.126.103.51:6379 check
    server re-node-03 100.114.117.46:6379 check backup

# Redis read (replicas) - port 6380
frontend redis_read
    bind 100.102.220.16:6380
    mode tcp
    default_backend redis_replicas

backend redis_replicas
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect
    tcp-check send AUTH\ CcPUa3nvcxHtyNYjztbDyfCCuhgix78novmBDNGk\r\n
    tcp-check expect string +OK
    tcp-check send INFO\ replication\r\n
    tcp-check expect string role:slave
    tcp-check send QUIT\r\n
    default-server inter 3s fall 3 rise 2
    server re-node-03 100.114.117.46:6379 check
    server re-node-01 100.126.103.51:6379 check backup
