global
    log /dev/log local0
    log /dev/log local1 notice
    user haproxy
    group haproxy
    daemon
    maxconn 65535
    nbthread 2
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    tune.ssl.default-dh-param 2048
    tune.ssl.cachesize 100000
    tune.maxrewrite 1024

defaults
    log global
    option dontlognull
    option http-server-close
    option forwardfor
    option redispatch
    retries 3
    
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    timeout http-request 10s
    timeout http-keep-alive 10s
    timeout queue 30s
    timeout check 5s

    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend stats
    bind 100.102.220.16:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST
    stats auth admin:jFNeZ2bhfrTjTK7aKApD

frontend haproxy_metrics
    bind 100.102.220.16:8405
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    http-request return status 200 content-type text/plain string "OK" if { path /health }
    no log

frontend pg_rw
    bind 100.102.220.16:5000
    mode tcp
    default_backend pg_primary

backend pg_primary
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server re-node-01 100.126.103.51:5432 check port 8008
    server re-node-03 100.114.117.46:5432 check port 8008
    server re-node-04 100.115.75.119:5432 check port 8008

frontend pg_ro
    bind 100.102.220.16:5001
    mode tcp
    default_backend pg_replicas

backend pg_replicas
    mode tcp
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server re-node-03 100.114.117.46:5432 check port 8008
    server re-node-04 100.115.75.119:5432 check port 8008
    server re-node-01 100.126.103.51:5432 check port 8008 backup

frontend redis_write
    bind 100.102.220.16:6379
    mode tcp
    default_backend redis_master

backend redis_master
    mode tcp
    option tcp-check
    tcp-check connect
    tcp-check send AUTH\ CcPUa3nvcxHtyNYjztbDyfCCuhgix78novmBDNGk\r\n
    tcp-check expect string +OK
    tcp-check send INFO\ replication\r\n
    tcp-check expect string role:master
    tcp-check send QUIT\r\n
    default-server inter 3s fall 3 rise 2
    server re-node-01 100.126.103.51:6379 check
    server re-node-03 100.114.117.46:6379 check backup

frontend redis_read
    bind 100.102.220.16:6380
    mode tcp
    default_backend redis_replicas

backend redis_replicas
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect
    tcp-check send AUTH\ CcPUa3nvcxHtyNYjztbDyfCCuhgix78novmBDNGk\r\n
    tcp-check expect string +OK
    tcp-check send INFO\ replication\r\n
    tcp-check expect string role:slave
    tcp-check send QUIT\r\n
    default-server inter 3s fall 3 rise 2
    server re-node-03 100.114.117.46:6379 check
    server re-node-01 100.126.103.51:6379 check backup

# Block WordPress vulnerability scanners
