# Backends for all applications

backend rentalfixer_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    server app1 100.92.26.38:8100 check
    server app2 100.89.130.19:8100 check

backend rentalfixer-staging_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    http-request auth realm "Staging Area" unless { http_auth(rentalfixer-staging_users) }
    server app1 100.92.26.38:9200 check
    server app2 100.89.130.19:9200 check

backend jonathanloescher_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    server app1 100.92.26.38:8101 check
    server app2 100.89.130.19:8101 check

backend jonathanloescher-staging_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    http-request auth realm "Staging Area" unless { http_auth(jonathanloescher-staging_users) }
    server app1 100.92.26.38:9201 check
    server app2 100.89.130.19:9201 check

backend not_found_backend
    mode http
    http-request deny deny_status 404

userlist rentalfixer-staging_users
    user admin insecure-password 4eaJnZ_hKJd6lli6

userlist jonathanloescher-staging_users
    user admin insecure-password 8fD66Vc1wBBdJwKR
