# Backends for all applications

backend rentalfixer_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    server app1 100.92.26.38:8100 check
    server app2 100.101.39.22:8100 check

backend rentalfixer_staging_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
    option forwardfor
    server app1 100.92.26.38:8101 check
    server app2 100.101.39.22:8101 check

backend not_found_backend
    mode http
    http-request deny deny_status 404
