[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_facts
fact_caching_timeout = 86400
roles_path = roles
log_path = ansible.log
stdout_callback = yaml
callbacks_enabled = profile_tasks

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ForwardAgent=yes

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=600s
pipelining = True
control_path = %(directory)s/%%h-%%r-%%p

[persistent_connection]
connect_timeout = 30
command_timeout = 300